.menuItem {
   
    text-decoration: none;
    margin: 15px;
    color: white;
  
}

.logo{

    height: 6vw;
  align-items: flex-start;
  opacity: 100%;
  padding-right: 90px;

}

.menu {
    padding-left: 25vw;
display:flex;
list-style: none;
background-color:rgba(100, 100, 100, 0.6);
height: 100px;
align-items: center;
margin: 0px;

}

.form{

   
    padding-left: 5%;
    padding-right: 5%;
   
}