.menuItem {
   
    text-decoration: none;
    margin: 15px;
    color: white;
  
}

.loupe{

    height: 20px;
}


.discover{

    height: 25px;
    
}

.discover:hover{
    height:30px;
}
  


.home{

    height: 25px;
}
.home:hover{
    height:30px;
}



.playlist{

    height: 25px;
}

.playlist:hover{
    height:30px;
}


.message{

    height: 25px;
}

.message:hover{

    height: 30px;
    
}


.profil{

    height: 50px;
}

.profil:hover{

    height: 55px;
}




.logo{

    height: 130px;
  align-items: flex-start;
  opacity: 100%;
  padding-right: 80px;

}


.menu {
    padding-left: 25vw;
display:flex;
list-style: none;
background-color:rgba(100, 100, 100, 0.6);
height: 100px;
align-items: center;
margin: 0px;

}

.form{

   
    padding-left: 5%;
    padding-right: 5%;
   
}

::placeholder{
    color: white;
}


