.menuItem {
   
    text-decoration: none;
    margin: 15px;
    color: white;
  
}

.menu {
    padding-left: 60vw;
display:flex;
list-style: none;
background-color: #707070;
height: 100px;
align-items: center;
margin: 0px;
opacity: 60%;
}