.cover {
    height: 60px;
    border-radius: 100px;
}


.contenu{
    margin-top: 10%;
    padding-top: 4%;
    display: flex;
}

    a{
        text-decoration: none;
        
    }

.son {
    margin-top: 5%;
}
.son1{
    margin-left: 5%;
}
