.cover {
    height: 60px;
    border-radius: 100px;
}


.contenu{
    margin-top: 10%;
    padding-top: 4%;
    display: flex;
}

    a{
        text-decoration: none;
        color: white;
    }
 p{
    color: white;
        
}

.son {
    margin-top: 5%;
    
}
.son1{
    margin-left: 5%;
    width: 35%;
}
.son1 :hover{
    color: rgb(136, 136, 136);
}

.temps {
    margin-left: 2vw;
    width: 20%;
}