.logo {
    height:175px;
    padding-left: 70px;
}

.page {
    display: flex;
    padding-left: 300px;

    

}

.page2 {
    display: flex;
    padding-left: 300px;
    

}


.p{
    padding-left: 70px;
}

.h1{
    padding-left: 370px;
}