
.section{
    display: flex;
    padding-top: 5%;
}

.logo {
    height:130px;
}

.page {
    display: flex;
    
}

.contenuleft {
    width: 25%;
}

.contenumiddle {
    width: 50%;
}


.contenuright{
    width: 25%;
    position: fixed;
    margin-left: 78%;
    margin-top: 4%;
}


.page2 {
    display: flex;
    
    

}

.music{
    margin-left: 50px;
}
button {
    border: none; 
    text-decoration: none;
    
  }