
.section{
    display: flex;
    padding-top: 5%;
}

.logo {
    height:130px;
}

.page {
    display: flex;
    
}

.contenuleft {
    width: 23%;
}

.contenumiddle {
    width: 52%;
}


.contenuright{
    width: 25%;
    position: fixed;
    margin-left: 75%;
    margin-top: 4%;
}


.page2 {
    display: flex;
    
    

}
.p{
    margin-left: 0vw;
    color: white;
}

.music{
    margin-left: 5%;
    margin-top: 2%;
    width: 13%;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	text-align: left;
  }
  #button:active {
    border: none;
}
  
p{
    color: white;
}