ul {
    list-style: none;
  }

.cover {
    height: 120px;
    border-radius: 5px;

}

.section{
    
    border-radius: 14px;
    background: radial-gradient(50.57% 73.72% at 50% 50.57%, rgba(183, 183, 183, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.contenu1{
    margin-top: 10%;
    padding-top: 4%;
    display: flex;
}

.contenu2{
    margin-top: 10%;
    display: flex;
}

.contenu3{
    margin-top: 10%;
    display: flex;
}

.playlist1{
    margin-top: 10%;
    display: flex;
}

.playlistcover{
    height: 200px;
}