ul {
    list-style: none;
  }

.cover {
    height: 120px;

}

.section{
    display: flex;
    margin-top: 5%;
}

.contenuleft{
    width: 30%;
}

.contenumiddle {
    background-color:rgba(100, 100, 100, 0.6);
    width: 40%;
    border-radius: 5px;
}

.contenuright{
    width: 30%;
}

.contenu1{
    margin-top: 10%;
    display: flex;
}

.contenu2{
    margin-top: 10%;
    display: flex;
}

.contenu3{
    margin-top: 10%;
    display: flex;
}