ul {
    list-style: none;
  }

.cover {
    height: 120px;
    border-radius: 5px;

}

.section{
    
    border-radius: 14px;
    background: radial-gradient(50.57% 73.72% at 50% 50.57%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.contenu1{
    margin-top: 10%;
    padding-top: 4%;
    display: flex;
}

.contenu2{
    margin-top: 10%;
    display: flex;
}

.contenu3{
    margin-top: 10%;
    display: flex;
}

.playlist1{
    margin-top: 10%;
    display: flex;
}

.playlistcover{
    height: 200px;
}

.playertitre {
    margin-left: 2%;
}

.player{
    height: 8vh;
    margin-left: 2%;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	text-align: left;
  }
  #button:active {
    border: none;
}

.p{
    
    color: white;
}

p{
    margin-left: 2%;
}

.contenuplaylist {
    background: rgba(230, 230, 230, 0.2);
    border-radius: 14px;
    width: 34vw;
}
.contenutous{
    display: flex;
}
.contenuplaylistgauche{
    width:40%;
}