
.section{
    display: flex;
    padding-top: 5%;
    
}

.contenuright{
    width: 25%;
    position: fixed;
    margin-left: 78%;
    margin-top: 4%;
}

.contenuleft{
    width: 25%;
}


.contenumiddle {
    
    width: 50%;
    
}